<!DOCTYPE html>
<html>
  <head>
    <title>Gear</title>
		<% include header.ejs %>
  </head>
  <body>
		<% include navbar.ejs %>

		<h1>GEAR UP</h1>

  </body>
	<script src='/javascripts/jquery/jquery.min.js'></script>
	<script src='/javascripts/jquery/jquery.min.map'></script>
	<script src='/javascripts/bootstrap/bootstrap.min.js'></script>
</html>
