<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
		<% include header.ejs %>
		<link rel='stylesheet' href='/stylesheets/login.css'/>
  </head>
  <body>
		<% include navbar.ejs %>
		<h1><%= message %><h1>

		<div class='container'>

			<div id='olduser' class='row center-block'>
				<form action='/users/login' method='post'>
					<h2>LOGIN</h2>
					<input type='username' name='username' class='form-control' placeholder='EMAIL' required autofocus/>
					<input type='password' name='password' class='form-control' placeholder='PASSWORD' />
					<button class='btn btn-lg btn-block' type='submit'>LOGIN</button>
					<a id='loginnewuser'><h6>JOIN</h6></a>
				</form>
			</div>

			<div id='newuser' class='row center-block'>
				<form action='/users/createUser' method='POST'>
					<h2>JOIN</h2>
					<input type='username' name='username' class='form-control' placeholder='EMAIL' required autofocus/>
					<input type='password' name='password' class='form-control' placeholder='PASSWORD' />
					<input type='password' name='confirm_password'  class='form-control' placeholder='CONFIRM PASSWORD' />
					<button class='btn btn-lg btn-block' type='submit'>JOIN</button>
					<a id='loginolduser'><h6>LOGIN</h6></a>
				</form>
			</div>
		</div>

  </body>
	<script src='/javascripts/jquery/jquery.min.js'></script>
	<script src='/javascripts/jquery/jquery.min.map'></script>
	<script src='/javascripts/bootstrap/bootstrap.min.js'></script>
	<script src='/javascripts/login.js'></script>
</html>
