<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
		<% include header.ejs %>
		<link rel='stylesheet' href='/stylesheets/login.css'/>
  </head>
  <body>
		<% include navbar.ejs %>

		<div class='container'>
			<div id='olduser' class='row center-block'>
				<form action='/users/login' method='POST'>
					<h2>LOGIN</h2>
					<input type='email' name='olduseremail' class='form-control' placeholder='EMAIL' required autofocus/>
					<input type='password' name='olduserpassword' class='form-control' placeholder='PASSWORD'/>
					<button class='btn btn-lg btn-block' type='submit'>LOGIN</button>
					<a id='loginnewuser'><h6>JOIN</h6></a>
				</form>
			</div>

			<div id='newuser' class='row center-block'>
				<form action='/users/addUser' method='POST'>
					<h2>JOIN</h2>
					<input type='text' name='firstname' class='form-control' placeholder='FIRST NAME' required autofocus/>
					<input type='text' name='lastname' class='form-control' placeholder='LAST NAME' required/>
					<input type='email' name='newuseremail' class='form-control' placeholder='EMAIL' required/>
					<input type='password' name='newuserpassword' class='form-control' placeholder='PASSWORD'/>
					<input type='password' name='retypepassword' class='form-control' placeholder='RETYPE PASSWORD'/>
					<button class='btn btn-lg btn-block' type='submit'>JOIN</button>
					<a id='loginolduser'><h6>JOIN</h6></a>
				</form>
			</div>
		</div>

  </body>
	<script src='/javascripts/jquery/jquery.min.js'></script>
	<script src='/javascripts/jquery/jquery.min.map'></script>
	<script src='/javascripts/bootstrap/bootstrap.min.js'></script>
	<script src='/javascripts/login.js'></script>
</html>
