<!DOCTYPE html>

<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/" class="navbar-brand">RxR</a>
	</div>
	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li><a href='/propaganda'>PROPAGANDA</a></li>
			<li><a href='/gear'>GEAR UP</a></li>
			<li><a href='/blog'>BLOG</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right" style="margin-right:0">
			<li><a href='/cart'>CART</a></li>
			<li><a href='/login'>LOGIN</a></li>
		</ul>
	</div>
</nav>

</html>
